 <% if users.length >= 1 %>
    <% users.each_with_index do |user, index| %>
          <input
            data-form-steps-target = "checkbox"
            id= "name<%=index%>"
            type="checkbox"
            name="users[]"
            value= "<%= user.name%>"
            placeholder="Type the members..."
            class = "animate__animated animate__fadeInRight"
          <label for="name<%=index%>">
          <%= image_tag user.photo.key ? cl_image_path(user.photo.key) :  "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", style: "width: 30px; height: 30px"%>
          <%= user.name %>
          </label>
     <% end %>
 <% end %>
