<div class="container" data-controller="calendar" >
  <button data-action="click->calendar#weekly">
    Weekly
  </button>
  <button data-action="click->calendar#monthly">
    Monthly
  </button>
  <div class="employees">
    <% @users.each do |user| %>
      <%= link_to meetings_path(user_id: user.id), class:"text-decoration-none" do %>
        <%= user.name %>
      <% end %>
    <% end %>
  </div>
  <div class="monthly-calendar" data-calendar-target="month">
    <h1>Calendar</h1>
    <%= month_calendar(events: @meetings, attribute: :start_date) do |date, meetings| %>
      <div class="day">
        <%= date.mday  %>
      </div>
      <% meetings.each do |meeting| %>
        <%= link_to meeting_path(meeting), class:"text-decoration-none" do %>
          <div class="calendar-card">
            <div class="calendar-time">
              <%= meeting.start_date.strftime("%k:%M ~") %>
            </div>
            <div class="calendar-title">
              <%= meeting.title.capitalize %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="weekly-calendar hidden" data-calendar-target="week">
    <h1>Calendar</h1>
    <%= week_calendar(events: @meetings, attribute: :start_date) do |date, meetings| %>
      <div class="day">
        <%= date.mday  %>
      </div>
      <% meetings.each do |meeting| %>
        <%= link_to meeting_path(meeting), class:"text-decoration-none" do %>
          <div class="calendar-card">
            <div class="calendar-time">
              <%= meeting.start_date.strftime("%k:%M ~") %>
            </div>
            <div class="calendar-title">
              <%= meeting.title.capitalize %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
