<%= link_to "Calendar", meetings_path %>
  <div class="container" data-controller="meeting">
    <div class="meeting-card">

    <p><%= noun_project_icon("icon", class: "my-custom-class") %>
        <%= @meeting.title.capitalize %>
    </p>

    <p>Description: <%= @meeting.description %></p>
    <p>Time: <%= @meeting.start_date.strftime("%A, %d %b %Y %l:%M %p")  %></p>
    <p>Attendance</p>
    <% @meeting.users.each do |user| %>
    <%=  user.photo.attached? ? cl_image_tag(user.photo.key, class: "avatar", data: {"bs-toggle": "modal" ,"bs-target": "#user_#{user.id}"}) : image_tag(
 "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar")%>
    <%= render "users/modal", user: user%>
    <% end %>
    <p>Duration: <%= @meeting.duration  %> minutes</p>
    <p>Organizer: <%= @meeting.user.name  %></p>
    <p>Location: <%= @meeting.location.capitalize  %></p>
   </div>


</div>
<p><%= link_to "Edit", edit_meeting_path %></p>
