<div class="container" data-controller="meeting">
  <%= link_to meetings_path, class: "btn btn-primary my-2" do%>
    <i class="fa-solid fa-calendar-days fa-lg"></i>
  <% end %>
  <div class="grid">
    <div class='g-col-8'>
      <div class="meeting-card mb-2">
        <h3 class="text-center"><%= noun_project_icon("icon", class: "my-custom-class") %> <%= @meeting.title.capitalize %></h3>
        <div class="grid">
          <div class="g-col-6">
            <p> <i class="fa-solid fa-clock me-1"></i> <%= @meeting.start_date.strftime("%A, %d %b %Y %l:%M %p") %>- <%= @meeting.end_date.strftime("%l:%M %p") %></p>
            <p><i class="fa-solid fa-clock-rotate-left me-1"></i> <%= @meeting.duration  %> minutes</p>
            <p><i class="fa-solid fa-house-circle-exclamation me-1"></i> <%= @meeting.location.capitalize  %></p>
            <p><i class="fa-solid fa-link"> </i> Google Meet </p>
          </div>
          <div class="g-col-6">
            <p> <i class="fa-solid fa-comment me-1"></i> <%= @meeting.description %></p>
            <p><i class="fa-solid fa-sitemap me-1"></i> <%= @meeting.user.name  %></p>
            <div class="d-flex">
              <p><i class="fa-solid fa-users-line me-4"></i></p>
              <% @meeting.users.each do |user| %>
                <%=  user.photo.attached? ? cl_image_tag(user.photo.key, class: "avatar me-1 overlap", data: {"bs-toggle": "modal" ,"bs-target": "#user_#{user.id}"}) : image_tag(
              "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar")%>
                <%= render "users/modal", user: user%>
              <% end %>
            </div>
            <div class="landing">
              <h1><%= @welcome_message %></h1>
              <p><%= @name_form_text %></p>
              <%= form_with(url: meeting_name_path(@meeting), method: "post") do %>
                <%= submit_tag "Join meeting", class: "btn btn-primary"%>
                <% flash.each do |type, msg| %>
                  <p class="error"><%= msg %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="meeting-card">
        <p class="text-center"><strong>Hello, everyone</strong></p>
        <%= @meeting.objectives.html_safe%>
        <% if current_user == @organizer %>
          <div class="d-flex">
            <%= link_to edit_meeting_path do %>
              <i class="fa-regular fa-pen-to-square me-1"></i>
            <% end %>
            <%= link_to meeting_path(@meeting), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the #{@meeting.title.capitalize}? "} do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="g-col-4">
      <div class="chatroom">
        <div class="container chatroom"
              data-controller="meeting-subscription"
              data-meeting-subscription-meeting-id-value="<%= @meeting.id %>">
          <%# <h1>#<%= @meeting.name %>
          <div class="messages" data-meeting-subscription-target="messages">
            <% @meeting.messages.each do |message| %>
              <%= render "messages/message", message: message %>
            <% end %>
          </div>
          <% if @meeting.nil? # || @message.nil? %>
            <p>Cannot render the form. Missing meeting or message.</p>
          <% else %>
            <%= simple_form_for [@meeting, @message],html: {class: "d-flex"} do |f|%>
              <%= f.input :content,label: false,placeholder: "Message ##{@meeting.title}",wrapper_html: {class: "flex-grow-1"}%>
              <%= f.submit "Send", class: "btn btn-primary mb-3 fa-fade" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
