<p> <%= @transcript %> </p>
<script src="https://static.opentok.com/v1/js/video-express.js"></script>
<div class="video-container">
  <div class="timer-container">
    <div class="main-timer">
      <div class="clock" data-controller="timer">
        <span data-target="timer.timerElement"></span>
      </div>
    </div>
  </div>
  <%= render "video/timebar" %>
  <div class="video-chat">
    <div>
      <main class="app">
        <div id="roomContainer"></div>
        <toolbar>
          <%#= render partial: 'toolbar' %>
        </toolbar>
      </main>
    </div>
    <%= render 'chat' %>
  </div>
  <div class="recording-menu">
    <div class="main-video-chat">
      <div class="videochat-title">
        <p><%= @meeting.title.capitalize %></p>
      </div>
      <div class="video-attendees">
        <% @meeting.users.each do |user|%>
          <%= image_tag user.photo.key ? cl_image_path(user.photo.key) :  "gorilla.jpg", class: "avatar  border border-3"%>
        <% end %>
      </div>
    </div>
    <div class="recording-button" data-controller="recording">
      <div class="many-buttons">
        <button data-action="click->recording#record" class=" fas fa-microphone-alt big-icon audio-button" data-recording-target="start_recording" type="button" ></button>
        <button data-action="click->recording#stop_recording" class=" fas fa-assistive-listening-systems d-none big-icon audio-button" data-recording-target="ear" type="button"></button>
        <button data-action="click->recording#record" class="far fa-check-circle d-none big-icon audio-button " data-recording-target="start_playback" type="button" ></button>
      </div>
      <div style="position: relative;">
        <article class="clip my-2 d-flex justify-content-center d-none"
                  data-recording-target="clip">
          <audio controls src=""></audio>
        </article>
        <div class="pop-up-buttons">
          <button class="btn btn-danger stop d-none"
                    data-action="click->recording#stop_recording"
            data-recording-target="stop_recording" type="button" style="color: white">Stop Recording</button>
          <button class="btn btn-danger d-none" type="button"
                      data-recording-target="stop_playback">Stop Playback</button>
          <button class="btn btn-purple d-none" type="button"
                      data-action="click->recording#reset"
            data-recording-target="reset_playback">Reset</button>
          <%# <%= f.input :file, as: :file, class: "d-none" %>
          <%= simple_form_for @video,html: {data: { recording_target: "form" }} do |f| %>
            <%= f.input :audio, as: :hidden %>
            <%= f.submit "Upload", class: "btn btn-primary d-none", data: { recording_target: 'upload', action: "click->recording#upload" } %>
          <% end %>
        </div>
      </div>
      <div id="name" class="name">
        <%= render 'modal', video: @video %>
      </div>
    </div>
  </div>
</div>
<script>
  const room = new VideoExpress.Room({
    apiKey: '<%= @api_key %>', // add your OpenTok API key
   sessionId: '<%= @session_id %>', // add your OpenTok Session ID
   token: '<%= @token %>', // add your OpenTok token
   roomContainer: 'roomContainer',
   participantName: '<%= @name %>'
  });
  room.join();
</script>
